
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("Add")">Add cookie</a> 
| <a href="@Url.Action("Clear")">Clear cookies</a>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    @foreach (string cookieName in Request.Cookies)
    {
        HttpCookie cookie = Request.Cookies[cookieName];
        <tr>
            <td>@cookie.Name</td>
            <td>@cookie.Value</td>
        </tr>
    }
</table>
