@model IEnumerable<WebApplicationQuizz.Models.QuizzInfoModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список тестов</h2>
<ul>
    @foreach (var qn in Model)
    {
    <li>
        <a href="@Url.Action("Index", "Quizz", new { id = qn.Id })">@qn.Name</a>
        (<a href="@Url.Action("Edit", "Quizz", new { id = qn.Id })">edit</a>)
    </li>
    }
</ul>
