@model IEnumerable<string>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul>
    @foreach (string country in Model)
    {
        <li><a href="@Url.Action("Search", new { country })">@country</a></li>
    }
</ul>
