@model IEnumerable<TitanicPassenger>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol>
@foreach (TitanicPassenger pax in Model)
{
<li><a href="/Passengers/Info?id=@pax.Id">@pax.FullName</a></li>
}
</ol>