@model IEnumerable<TitanicPassenger>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!Model.Any())
{
    <div>Nothing was found</div>
}
else
{
    <ul>
    @foreach (TitanicPassenger pax in Model)
    {
        <li><a href="/Passengers/Info?id=@pax.Id">@pax.FullName</a></li>
    }
    </ul>
}
