
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div> 
    Добро пожаловать в энциклопедию о Титанике.
</div>

<form action="@Url.Action("Search", "Passengers")" method="get">
    Введите искомую строку: <input type="text" name="search" />
    <br />
    <input type="submit" value="Найти"/>
</form>
