@model PersonViewModel
<div><b style="color:red">@Html.LabelFor(m => m.Name)</b></div>
<div>@Html.DisplayFor(m => m.Name)</div>

<div><b style="color:red">@Html.LabelFor(m => m.BirthDate)</b></div>
<div>@Html.DisplayFor(m => m.BirthDate)</div>
