@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Привет!!!</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/Css/main.css" type="text/css" />
    </head>
    <body>
        <div>Привет ASP.NET MVC!</div>
        <div><span style="color:red">Сегодня @DateTime.Now.ToString("F")</span></div>
        <div><a href="/Home/News">Новости</a></div>
    </body>
</html>
