@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Новости проекта</title>
</head>
<body>
    <div> 7 февраля Первая версия сайта. Ура!</div>
</body>
</html>
