<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page title</title>
</head>
<body>
    <nav style="margin-bottom:1em">
        <a href="/">Домашняя страница</a>
        | <a href="/Passengers/Index">Список пассажиров</a>
        | <a href="/Passengers/Countries">Список стран</a>
    </nav>

    @* Указание места где необходимо вывести тело (контент) представления *@
    @RenderBody()

</body></html>