@model WebApplicationQuizz.Models.EditAnswerModel
@{
    ViewBag.Title = "EditAnswer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditAnswer</h2>

<form action="@Url.Action("EditAnswer")" method="post">
    @Html.Partial("answer", Model)
    <input type="submit" value="Сохранить" />
</form>
