<div>
    <a style="font-weight:bold" href="@Url.Action("InYear")">Simple</a>
    |
    <a style="font-weight:bold" href="@Url.Action("InYear", new { id = Model.Year, mode = "detailed" })">Detailed</a>
</div>
