@model WebApplication1.Models.QuizzResultModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Check2</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <ol>
        @foreach (var question in Model.Questions)
        {
        <li class="someItem">
            @if (question.IsCorrect)
            {
                <span style="color:green">@question.Text</span>
            }
            else
            {
                <span style="color:red">@question.Text</span>
            }
            @foreach (var answer in question.Answers)
            {
                <ul>
                    <li>@answer.Text</li>
                </ul>
            }
        </li>
        }
    </ol>
</body>
</html>
