<div>
    @Html.ActionLink("Настроить", "Configure")
    | @if (Request.Cookies["user"] == null)
{
    @Html.ActionLink("Вход", "Login", "Auth")
}
else
{
    @Html.ActionLink("Выход", "Logout", "Auth")
}
</div>
